seawall.horse www.seawall.horse www.seawall.horse/m seawall.horse/m {
   root ./masterapp
}
www.seawall.horse/p seawall.horse/p {
	root ./playerapp
}
api.seawall.horse {
   proxy / localhost:3000 {
      websocket
   }
}
