seawall.horse www.seawall.horse www.seawall.horse/m seawall.horse/m {
   root ./masterapp
}
www.seawall.horse/p seawall.horse/p {
	root ./playerapp
}
api.seawall.horse/t {
	root ./test
}
api.seawall.horse/api {
	proxy /api localhost:4000 {
		transparent
	}
}
api.seawall.horse {
   proxy / localhost:3000 {
      websocket
   }
}
