ix.seawall.horse/t {
	root ./testapp
}
ix.seawall.horse/s ix.seawall.horse/p ix.seawall.horse/player ix.seawall.horse/survey {
	root ./playerapp
	mime .css text/css
	mime .js text/javascript
}
ix.seawall.horse/display {
	root ./display
}
ix.seawall.horse/static {
	root ./static
}
api.seawall.horse api.allsn.ca {
	cors

	proxy / localhost:4000 {
		transparent
	}
}
blar.seawall.horse ws.seawall.horse {
   proxy / localhost:3000 {
      websocket
   }
}
