body {
    background: black;
    color: white;
  }
  #main {
    width: 100%;
    height: 100%;
    padding: 50px;
    border: 50px solid teal;
    margin: 0; 
  }

  #question {
    font-size: 96px;
  }

  #answer {
    font-size: 48px;
  }

  #thanks {
    font-size: 48px;
  }

  #state {
    font-size: 36px;
    text-align: center;
    height: 100%;   
  }

  #spinner {
    height: 250px;
  }

  #countdown {
    font-size: 64px;
    text-align: center
  }

  #remainingTime {
    border: none;
    display: inline-block;
    position: absolute;
    background-color: #EFC94C;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 0;
  }